.ads{
  margin-top: 3rem;
  &__nav {
    .btn {
      height: 4rem;
      svg{
        margin-right: 0.5rem;
      }
    }
    .dropdown{
      &__item{
        padding: 0 1rem;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  h1{
    margin-bottom: 2rem;
  }
  .col-12{
    margin-bottom: 2rem;
  }
  &-item{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
 

.date{
margin: 0 2rem 0.5rem 0;
  font-size: 12px;
  line-height: 14px;
  span{
    font-weight: bold;
  }
}
.adress{

  .region{
    color: #999;
      margin-bottom: 0.5rem;
  }
}

    .descr{
      padding: 1.5rem 0;
      border-top: 2px solid $grey;
      border-bottom: 2px solid $grey;
      margin-bottom: 1rem;
      height: 100%;
    }
    .name{
      font-size: 20px;
      font-weight: bold;
      margin-top: auto;
      text-align: center;
      margin-bottom: 1rem;
    }
    &__modal{
      h4{
        margin-bottom: 2rem;
      }
      .wrapper{
        padding: 1.5rem;
        background: lighten($color: $ac, $amount: 20);
        margin-bottom: 3rem;
        border-radius: .5rem;
      }
      ul{
        padding-left: 2rem;
        li{
          margin-bottom: 1rem;
        }
      }
      .btn{
        width: 100%;
        margin-bottom: 2rem;

      }
      .number{
        margin-bottom: 2rem;
      }
    }
  }
}