.partners{
  .row{

    row-gap: 3rem;
  }
  &__item{
max-width: 25rem;
  text-align: center;
  border-radius: 10px;
  height: 6rem;
  img{
    object-fit: contain;
  }
  .btn{
    height: 100%;
  }

  }
}